#floor-switch{
	display: flex;
	justify-content: center;
	padding: 12px 0;
}

.plan-container{
	position: relative;
	display: block;
	margin: 12px auto;

	.plan-layer{
		position: absolute;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
		background-size: 100%;
		background-repeat: no-repeat;
		z-index: 10;
	}

	.btn-layer{
		position: absolute;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
		z-index: 20;

		.btn{
			position: absolute;
		}
	}

	&#main-plan{
		width: 326px;
		height: 1374px;
		
		.plan-layer{
			background-image: url(../img/plans/floorplan_main.svg);
		}

		#btn-bath{
			top: 250px;
			right: 120px;
		}
		
	}

	&#second-plan{
		width: 326px;
		height: 1176px;
		
		.plan-layer{
			background-image: url(../img/plans/floorplan_second.svg);
		}

		#btn-bath{
			top: 250px;
			right: 120px;
		}
		
	}

	&#third-plan{
		width: 326px;
		height: 1176px;
		
		.plan-layer{
			background-image: url(../img/plans/floorplan_third.svg);
		}

		#btn-bath{
			top: 250px;
			right: 120px;
		}
		
	}

	

}