#floor-switch{
	height: 36px;
  margin: 16px 0;
}

.hide{
	display: none;
}

.plan-container{
	position: relative;
	display: block;
	margin: 12px auto;

	.plan-layer{
		position: absolute;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
		background-size: 100%;
		background-repeat: no-repeat;
		z-index: 10;
	}

	.btn-layer{
		position: absolute;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
		z-index: 20;

		.btn{
			position: absolute;
		}
	}

	&#cellar-plan{
		width: 328px;
		height: 1239px;
		
		.plan-layer{
			background-image: url(../img/plans/floorplan_cellar.svg);
		}

		#btn-cellar-1{
			left: 170px;
    	top: 650px;
		}

		#btn-cellar-2{
			left: 60px;
    	top: 712px;
		}

		#btn-cellar-3{
			right: 60px;
    	top: 650px;
		}

		#btn-cellar-4{
			right: 60px;
    	top: 500px;
		}

		#btn-cellar-5{
			left: 170px;
    	top: 450px;
		}

		#btn-cellar-6{
			right: 60px;
    	top: 400px;
		}

		#btn-cellar-7{
			left: 170px;
    	top: 300px;
		}

		#btn-cellar-8{
			right: 30px;
    	top: 200px;
		}

		#btn-cellar-9{
			right: 60px;
    	top: 710px;
		}
	}

	&#main-plan{
		width: 326px;
		height: 1374px;
		
		.plan-layer{
			background-image: url(../img/plans/floorplan_main.svg);
		}

		#btn-family-1{
			right: 60px;
    	bottom: 280px;
		}

		#btn-family-2{
			left: 200px;
    	bottom: 437px;
		}

		#btn-family-3{
			left: 210px;
    	bottom: 320px;
		}

		#btn-family-4{
			left: 210px;
    	bottom: 230px;
		}

		#btn-family-5{
			left: 55px;
    	bottom: 280px;
		}

		#btn-family-6{
			left: 40px;
    	bottom: 120px;
		}

		#btn-family-7{
			left: 118px;
    	bottom: 362px;
		}

		#btn-family-8{
			left: 87px;
    	bottom: 217px;
		}

		#btn-family-9{
			left: 55px;
    	bottom: 399px;
		}

		#btn-family-10{
			left: 55px;
    	bottom: 450px;
		}

		#btn-family-11{
			left: 9px;
    	bottom: 553px;
		}

		#btn-first-suite-1{
			left: 120px;
    	top: 750px;
		}

		#btn-first-suite-2{
			left: 170px;
    	top: 430px;
		}

		#btn-first-suite-3{
			left: 250px;
    	top: 510px;
		}

		#btn-first-suite-4{
			left: 120px;
    	top: 544px;
		}

		#btn-first-suite-5{
			left: 291px;
    	top: 300px;
		}

		#btn-first-suite-6{
			left: 220px;
    	top: 645px;
		}
	}

	&#second-plan{
		width: 326px;
		height: 1176px;
		
		.plan-layer{
			background-image: url(../img/plans/floorplan_second.svg);
		}

		#btn-second-living-1{
			top: 400px;
    	left: 150px;
		}

		#btn-second-living-2{
			top: 800px;
    	left: 200px;
		}

		#btn-second-living-3{
			top: 855px;
    	left: 230px;
		}

		#btn-second-living-4{
			bottom: 190px;
    	right: 60px;
		}

		#btn-second-living-5{
			top: 622px;
    	left: 70px;
		}

		#btn-second-living-6{
	    top: 830px;
    	left: 70px;
		}

		#btn-second-living-7{
			top: 900px;
    	left: 190px;
		}

		#btn-second-living-8{
			top: 980px;
    	left: 100px;
		}

		#btn-second-living-9{
			top: 500px;
    	left: 41px;
		}

		#btn-second-living-10{
			bottom: 90px;
    	right: 30px;
		}
	}

	&#third-plan{
		width: 326px;
		height: 1176px;
		
		.plan-layer{
			background-image: url(../img/plans/floorplan_third.svg);
		}

		#btn-third-1{
			bottom: 50px;
    	left: 100px;
		}	

		#btn-third-2{
			bottom: 330px;
    	right: 80px;
		}	

		#btn-third-3{
			bottom: 280px;
    	left: 150px;
		}	

		#btn-third-4{
			bottom: 330px;
    	right: 130px;
		}	

		#btn-third-5{
			top: 615px;
    	left: 170px;
		}	

		#btn-third-7{
			top: 40px;
    	left: 100px;
		}	

		#btn-third-8{
			top: 220px;
    	left: 180px;
		}	

		#btn-third-9{
			top: 300px;
			left: 180px;
		}	

		#btn-third-10{
			top: 360px;
    	right: 20px;
		}	

		#btn-third-11{
			top: 520px;
    	right: 50px;
		}	

		#btn-third-12{
			top: 540px;
    	left: 160px;
		}	
	}

	&#roof-plan{
		width: 345px;
		height: 460px;
		
		.plan-layer{
			background-image: url(../img/plans/roof.jpg);
		}

		#btn-roof-1{
			top: 200px;
    	left: 140px;
		}	

		#btn-roof-2{
			top: 173px;
    	left: 50px;
		}	

		#btn-roof-3{
			top: 350px;
    	left: 170px;
		}	

		#btn-roof-4{
			top: 350px;
    	left: 230px;
		}	

		#btn-roof-5{
			top: 350px;
			left: 50px;
		}	

		#btn-roof-6{
			top: 160px;
    	left: 230px;
		}	

		#btn-roof-7{
			top: 130px;
    	left: 140px;
		}	

		#btn-roof-8{
			top: 260px;
    	left: 140px;
		}	

		#btn-roof-9{
			top: 450px;
    	left: 170px;
		}	

		#btn-roof-10{
			top: 160px;
    	left: 290px;
		}	

		#btn-roof-11{
			top: 210px;
    	left: 320px;
		}	
	
	}
}